@import "../../styles/styles";

.card {
    background-color: $aqua;

    &__headerOne {
        color: $blue;
    }

    &__text {
        font-size: 14px;
    }
}

.button {
    background-color: $black;
    padding: 4px;

    &__text {
        color: $aqua;
    }

    &--change {
        /* absolute es el modificador que va a modificar el bloque button */
        background-color: $blue;
    }
}
